.home{
    background-color: #F1EAFF;
}

.home .jobs-column-1{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 6vh;
}

.home .jobs-column-2{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 4vh;
}

.path-column{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 22vh;
    margin-bottom: 10vh;
    padding-bottom: 16vh;
}

.path-column .title{
    font-size: 30px;
    font-weight: 700;
}

.path-column .title span{
    color: #6A38C2;
}

.path-column .para{
    width: 90vh;
    text-align: center;
    margin: 3vh 0px 8vh 0px;
}

.path-column .path-cards{
    display: flex;
    gap: 20px;
    margin: 5vh 0 5vh 0;
}

.jobs-column-3{
    text-align: center;
    padding-bottom: 70px;
    margin: 5vh 0 2vh 0;
}

.jobs-column-3 span{
    color: #6A38C2;
}

