.filtercard{
    background-color: white;
    width: 230px;
    height: 400px;
    border-radius: 3px;
    padding: 20px 0px 20px 10px;
    margin: 20px;
}

.filtercard .top{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 20px 0px;
    align-items: center;
}

.filtercard ul li{
    display: flex;
    align-items: center;
    gap: 7px;
    color: #717070;
    font-size: 15px;
}

.filtercard ul{
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filtercard .top button{
    background-color: transparent;
    border: 1px solid #835BCD;
    color: #835BCD;
    border-radius: 7px;
    padding: 5px;
    outline: none;
}

.filtercard .top .icon_button{
    display: none;
}

.filtercard .top .name_button{
    display: block;
}


@media screen and (max-width:600px) {

    .filtercard{
        height: 100%;
    }

    .filtercard .top .name_button{
        display: none;
    }

    .filtercard .top .icon_button{
        display: block;
        border: none;
        font-size: 10px;
    }
}